<div class="banner">
  <div class="banner-img">
    <div class="container">
      <div class="banner-info ">
        <a class="play-icon">
          <span></span>
        </a>
        <div class="banner-text">
          <h2>Your personal trainer</h2>
          <span class="btn btn-primary">
            <i class="glyphicon glyphicon-user"></i>
            Register now
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <h3>
      Text heading 1
    </h3>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur consequat mi quis bibendum. Suspendisse potenti. Quisque nec arcu feugiat, ultricies neque sit amet, sagittis lectus. Curabitur a euismod arcu. Proin finibus volutpat
      massa, sed laoreet elit eleifend eu.
    </span>
  </div>
  <div class="col-md-4">
    <h3>
      Text heading 1
    </h3>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur consequat mi quis bibendum. Suspendisse potenti. Quisque nec arcu feugiat, ultricies neque sit amet, sagittis lectus. Curabitur a euismod arcu. Proin finibus volutpat
      massa, sed laoreet elit eleifend eu.
    </span>
  </div>
  <div class="col-md-4">
    <h3>
      Text heading 1
    </h3>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur consequat mi quis bibendum. Suspendisse potenti. Quisque nec arcu feugiat, ultricies neque sit amet, sagittis lectus. Curabitur a euismod arcu. Proin finibus volutpat
      massa, sed laoreet elit eleifend eu.
    </span>
  </div>
</div>
